@font-face {
  font-family: 'IM Fell Great Primer';
  font-style: normal;
  src: local('IM FELL Great Primer Roman'), local('IM_FELL_Great_Primer_Roman'), url(http://themes.googleusercontent.com/static/fonts/imfellgreatprimer/v4/AL8ALGNthei20f9Cu3e93idd7_gwp8h5wh09JM2vKqs.woff) format('woff');
}

@font-face {
  font-family: 'Znikomit';
  font-style: normal;
  src: local('Znikomit'), local('ZnikomitNo25'), url(ZnikomitNo25.woff) format('woff');
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:-webkit-any-link {
  text-decoration: none;
}

.projects-container::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'desktop';
  display: none;
}

body {
  width: 99%;
  background: #d7e2d2 url(../img/fond_arbre.gif) no-repeat left bottom;
  background-size: contain;
  background-attachment:fixed;
}

#title{
  font-size: 1.5em;
  font-family: Znikomit, sans-serif;
  color: #608d4a;
  height: 10%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
}

#title a{
  text-decoration: none;
  color: #608d4a;
}

#title h1{
  font-weight: normal;
  text-shadow: 2px 2px 5px rgb(22, 98, 29);
  background-color: #d7e2d2;
  margin: 0;
  padding: 20px;
}

#header{
  position: fixed;
  top: 15%;
  width: 20vw;
  display: inline-block;
  vertical-align: top;
}

#menu{
  padding: 0px;
  font-family: Znikomit, sans-serif;
}

#menu li{
  list-style-type: none;
  margin: 5px;
}

#menu li a{
  color:#608d4a;
  color: #072C04;
  font-weight: bold;
  text-decoration: none;
  background-color: #d7e2d2;
  margin: 3px;
  border-radius: 4px;
}

#menu .current{
  color: #606d4a;
}

.projects-container {
  position: absolute;
  top: 15%;
  right: 0px;
  width: 80vw;
  display: inline-block;
}

.projects-container li {
  cursor: pointer;
  width: 33%;
  height: 75vh;
  display: none;
  opacity:0;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: width 0s;
  -moz-transition: width 0s;
  transition: width 0s;
}
.projects-container li.is-loaded {
  display: inline-block;
  opacity: 1;
}
.projects-container li::after {
  /* background image */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  overflow:hidden;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: height 0.3s, -webkit-transform 0.5s, opacity 0.5s;
  -moz-transition: height 0.3s, -moz-transform 0.5s, opacity 0.5s;
  transition: height 0.3s, transform 0.5s, opacity 0.5s;
}
.projects-container li:first-of-type {
  top: 25%;
  left: 25%;
}
.projects-container li:first-of-type::after {
  background-image: url("../img/projet_reims_vert.jpg");
}
.projects-container li:nth-of-type(2) {
  top: 25%;
  left: 50%;
}
.projects-container li:nth-of-type(2)::after {
  background-image: url("../img/projet_vn_vert.jpg");
}
.projects-container li:nth-of-type(3) {
  top: 25%;
  right: 0%;
}
.projects-container li:nth-of-type(3)::after {
  background-image: url("../img/projet_reims_vert.jpg");
}

.projects-container li.is-loaded::after {
  opacity: 1.0;
}

.projects-container li:hover::after, .projects-container li.is-full-width.is-loaded::after {
  opacity: 1.0;
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -ms-transform: scale(1.0);
  -o-transform: scale(1.0);
  transform: scale(1.0);
}

.projects-container li.is-full-width {
  /*left: 0vw;*/
  width: 100%;
  -webkit-transition: width 1.4s 0s;
  -moz-transition: width 1.4s 0s;
  transition: width 1.4s 0s;
}

.projects-container li.is-full-width::after {
  width: 100%;
  -webkit-transition: width 0.9s 0s;
  -moz-transition: width 0.9s 0s;
  transition: width 0.9s 0s;
}

.cd-title {
  position: absolute;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.cd-title h2 {
  font-size: 3.6rem;
}

.cd-title p {
  font-size: 1.4rem;
  font-family: "Merriweather", serif;
  font-style: italic;
  line-height: 1.2;
  padding: .4em 2em;
  display: block;
  opacity: .6;
}

.cd-project-info{
  clear: both;
  visibility: hidden;
  display: none;
  opacity: 0;
  margin-top: 75vh;
  padding: 4em 0;
  cursor: auto;
  background-color: #d7e2d2;
  color: #224D1D;
  -webkit-transition: opacity 0.4s 0s, visibility 0s 0.4s;
  -moz-transition: opacity 0.4s 0s, visibility 0s 0.4s;
  transition: opacity 0.4s 0s, visibility 0s 0.4s;
}

.is-full-width .cd-project-info {
  visibility: visible;
  display: block;
  opacity: 1;
}

.cd-project-info p {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  line-height: 2;
}

.projects-container .cd-close,
.projects-container .cd-scroll {
  display: block;
  z-index: 1;
  width: 44px;
  height: 44px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  -webkit-transition: -webkit-transform 1s 0s, visibility 0s 1s;
  -moz-transition: -moz-transform 1s 0s, visibility 0s 1s;
  transition: transform 1s 0s, visibility 0s 1s;
}

.projects-container .cd-close {
  position: fixed;
  top: 170px;
  right: 5%;
  background: url("../img/cd-icon-close-mobile.svg") no-repeat center center;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
@media only screen and (min-width: 1170px) {
  .projects-container .cd-close {
    background-image: url("../img/cd-icon-close-desktop.svg");
  }
}

.projects-container .cd-scroll {
  position: absolute;
  top: 70vh;
  left: 50%;
  -webkit-transform: translateX(-50%) scale(0);
  -moz-transform: translateX(-50%) scale(0);
  -ms-transform: translateX(-50%) scale(0);
  -o-transform: translateX(-50%) scale(0);
  transform: translateX(-50%) scale(0);
  background: url("../img/cd-icon-arrow-mobile.svg") no-repeat center center;
}
@media only screen and (min-width: 1170px) {
  .projects-container .cd-scroll {
    background-image: url("../img/cd-icon-arrow-desktop.svg");
  }
}

.project-is-open .cd-close,
.project-is-open .cd-scroll {
  visibility: visible;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
  -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
  transition: transform 0.4s 0s, visibility 0s 0s;
}

.project-is-open .cd-scroll {
  -webkit-transform: translateX(-50%) scale(1);
  -moz-transform: translateX(-50%) scale(1);
  -ms-transform: translateX(-50%) scale(1);
  -o-transform: translateX(-50%) scale(1);
  transform: translateX(-50%) scale(1);
  -webkit-animation: cd-translate 1.2s 0.4s;
  -moz-animation: cd-translate 1.2s 0.4s;
  animation: cd-translate 1.2s 0.4s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
  animation-iteration-count: 2;
}

.project-is-open .cd-close:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.project-is-open .cd-scroll:hover {
  -webkit-transform: translateX(-50%) scale(1.2);
  -moz-transform: translateX(-50%) scale(1.2);
  -ms-transform: translateX(-50%) scale(1.2);
  -o-transform: translateX(-50%) scale(1.2);
  transform: translateX(-50%) scale(1.2);
}