
.projects-container li {
  width:32%;
}

.projects-container li:first-of-type::after {
  background-image: url("../img/projet_vn_vert.jpg");
}
.projects-container li:nth-of-type(2)::after {
  background-image: url("../img/projet_reims_vert.jpg");
}
.projects-container li:nth-of-type(3)::after {
  background-image: url("../img/projet_vn_vert.jpg");
}
